@import 'list-mixin';
@import 'page-mixin';

@include list('discussion');
@include page();

.discussions-header{
  h1{
    float:left;
  }
  nav{
    float:right
  }
  &:after{
    content:"";
    clear:both;
    display:block;
  }
}
