@import 'colors';
@import 'icon-classes';

*, body {
  font-family: Lato;
  box-sizing: border-box;
}

body {
  color: $dark;
  background-color:$light;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/Lato2OFLWeb/Lato/fonts/Lato-Light.ttf");
}

.button {
  padding-top: 15px!important;
  padding-right: 20px!important;
  padding-bottom: 15px!important;
  padding-left: 20px!important;
  margin:0px;
  display:inline-block!important;
  background-color:$dark;
  color:$light;
  text-decoration:none;
  font-size:1.1em!important;
  border:none;
  cursor:pointer;
}

.inline {
  display: inline;
}

.tag {
  display:inline-block;
  background-color:$dark;
  border: 1px solid $dark;
  color:$light;
  padding:5px;
  margin:5px;
  border-radius:5px;
}

.tag.unsaved {
  display:inline-block;
  border: 1px solid $dark;
  background-color:$light;
  color:$dark;
  padding:5px;
  margin:5px;
  border-radius:5px;
}
