@import "fa-icon-mixin";
@import "follow";
@import "_tag";

@import "page-mixin";
@include page();

.profile-avatar {
  background-repeat: no-repeat;
  background-size: contain;
  width:100%;
  padding-bottom:100%;
  position: relative;
}

.profile-avatar-edit-link {
  position:absolute;
  bottom:5px;
  left:5px;
  padding:0.2em;
  background-color: rgba(255,255,255,0.8);
  border-radius:0.2em;
}

.panel-basic, .panel-info {
  display: inline-block;
  vertical-align: top;
}

.panel-basic {
  width:200px;
}

.panel-info {
  width: $page-max-width - 200px;
  padding-left:1em;
}

.profile-name {
  font-size:2em;
  font-weight: bold;
}

.profile-username {
  font-size:1.2em;
  color:gray;
}

.user-pages-nav {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $darker;
  li {
    display: inline;
    margin-right: 1em;
  }
}

.user-action-panel {
  li {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.user-user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 3px;
}

.user-user-side {
  width: 50px;
  position: relative;
}

.user-user-main {
  width: 400px;
}

.user-user-side, .user-user-main {
  display: inline-block;
  padding: 5px;
  vertical-align: top;
}

.user-user-name {
  font-size: 1.5em;
  font-weight: bold;
}

.user-user-username {
  font-size: 1em;
  color: #777;
}

.user-users-list {
  ul {
    &:empty::before {
      content: "nobody found";
      color: red;
    }
  }
}
