<%
var css = [
  '/css/header.css',
  '/css/request-reset-password.css'
];
var title = 'reset password';

var headScripts = [];
var scripts = [];

%><% include ../partial/page-top.ejs %>
<% include ../partial/header.ejs %>
<h1>Reset password of your account. Email will be sent with resetting link. If your email is not verified, password can't be reset. In that case contact administrators.</h1>
<form method="post" >
  Username or email:
  <input type="text" name="username-email" placeholder="username or email" />
  <input type="submit" value="Send resetting email" />
</form>
<% include ../partial/page-bottom.ejs %>
