<%
var pageData = {};

var sgPage = page.slice(0,-1);

switch (page) {
  case 'users':
    pageData.users = users;
    break;
  case 'challenges':
    pageData.dits = challenges;
    break;
  case 'ideas':
    pageData.dits = ideas;
    break;
  case 'projects':
    pageData.dits = projects;
    break;
  case 'discussions':
    pageData.dits = discussions;
    break;
  default:
}
%>
<section class="tag-<%= page %>">
  <ul class="user-list"><%
    if(page === 'users') {
      for(let user of pageData.users) { %><% include ./pages/user %><% }
    }
    else if(['challenges', 'ideas', 'projects', 'discussions'].indexOf(page) > -1) {
      for(let dit of pageData.dits) {
        %><% include ./pages/dit %><%
      }
    }
%></ul>
</section>
