<%

  //view needs challenge = {name: '', tags: []}

  var css = [
    '/css/header.css'
  ];

  var title = challenge.topic;
  var headScripts = [];
  var scripts = [];
  var session = session || {logged:false, username: null};
  var logged = session.logged || false;
%><%include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<style>
  form#add-tag-form {
    display: inline;
  }
</style>
<div>
<h1>challenge</h1>
<div id="challenge-name" ><%= challenge.name %><input type="text" readonly="" id="challenge-url" value="<%= challenge.link %>" /></div>
<div id="challenge-tags"><%
  if(challenge.tags.length === 0) {
    %>no tags<%
  }
  for(var i=0, len=challenge.tags.length; i < len; ++i){
   %><span><%= challenge.tags[i] %></span><%
  }
  if(logged === true){
    %>
    <form id="add-tag-form" method="post" >
      <input type="text" name="tagname" />
      <input type="submit" name="submit" value="add tag" />
    </form>
    <% 
  }

%></div>
<div id="challenge-description" ><%= challenge.description %></div>
<div id="new-post">
<% if (logged === true) { %>
  <form id="new-post-form" method="post" action="" >
    <textarea name="text"></textarea>
    <input type="submit" name="post" value="post" />
  </form>
<% } 
  else {
    var redirectUrl = encodeURIComponent('/challenge/' + challenge.id + '/' + challenge.url);
    var action = '/login?redirect='+redirectUrl;
%>
<% include ./partial/login-form.ejs %>
<%
  }
%>
</div>
</div>
<% include ./partial/page-bottom.ejs %>
