<%

  var css = [
    '/css/header.css',
    '/css/people.css'
  ];

  var title = 'people';
  var headScripts = [];
  var scripts = [];
  session = session || {logged:false, username: null};
  var logged = session.logged === true ? true : false;
  var loggedUser = session.username || null;

%><%
include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<section class="page">
  <header class="non-list people-header">
    <h1>People</h1>
  </header>
  <section class="non-list number-of-people">There are <span class="count"><%= count %></span> active people registered</section>
  <% if(logged === true) {%>
  <section class="common-tags-users-list">
    <header>
      <h2>People with similar tags to me</h2>
    </header>
    <ul><% for(let usr of lists.commonTags) {
      %><li class="user"><a class="icon-user user-link" href="/user/<%= usr.user.username %>"><span class="username"><%= usr.user.username %></span></a><span class="info-detail tagno"><%= usr.user.tagno %> tags</span></li><%
      } 
    %></ul>
  </section><!--
  --><section class="new-users-list">
    <header><h2>New people</h2></header>
    <ul></ul>
  </section><!--
  --><section class="random-users-list">
    <header><h2>Random people</h2></header>
    <ul></ul>
  </section><!--
  --><section class="last-online-users-list">
    <header><h2>Last people online</h2></header>
    <ul></ul>
  </section><!--
  --><section class="popular-users-list">
    <header><h2>People often followed</h2></header>
    <ul></ul>
  </section>
  <% } %>
</section>
<% include ./partial/page-bottom.ejs %>
