<%
  var css = [
    '/css/header.css',
    '/css/sysinfo.css'
  ];

  var title = 'system info';
  var headScripts = [];
  var scripts = [];
%><%include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<div id="message" ><%- msg %></div>
<% include ./partial/page-bottom.ejs %>
