<%
var css = [
  '/css/header.css',
  '/css/tag-edit.css',
];
var title = '#' + tag.tagname ;

var headScripts = [];
var scripts = [];

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>

<section class="page" >
  <header>
    <h1 class="icon-tag tag-tagname"><%= tag.tagname %></h1>
  </header>
  <section class="tag-description">
    <form method="post" class="edit-tag-form" >
      <div><%= tag.tagname %></div>
      <div>description</div>
      <textarea name="description" ><%= tag.description %></textarea>
      <input type="submit" name="action" value="save" class="button" />
      <a class="button" href="/tag/<%= tag.tagname %>">cancel</a>
    </form>
  </section>
</section>
<% include ./partial/page-bottom.ejs %>
