<%
var css = [
  '/css/header.css',
  '/css/user-dits.css',
  'css/dit-avatar.css'
];
var title = 'dits of ' + user.username ;

var headScripts = [];
var scripts = [];

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>
<style>
</style>
<div>
<h1>Dits of <%= user.username %></h1>
  <ul>
<%  for (var i = 0, len=dits.length; i < len; i++) {
      var avatar = dits[i].dit;
%>
    <li><% include ./partial/dit-avatar.ejs %> (<%= dits[i].relation %>)</li><% } %>
  </ul>
</div>
<% include ./partial/page-bottom.ejs %>
