.page {
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
}

.page h1 {
  font-size: 25px;
  /*margin-left: $list-margin;*/
  /*padding:0;*/
}

.page h2 {
  font-size: 20px;
}

.page a:not(.button) {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

.about-icon {
  display: block;
  background-color: #011149;
  color: white;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin: auto;
  margin-bottom: 5px;
}

.about-page {
  font-family: Baskerville;
  text-align: center;
}

.about-page hr {
  height: 2px;
  background-color: #6ca6ca;
  border: none;
}

.about-line {
  padding-top: 2px;
  padding-bottom: 10px;
}

.about-emphasize {
  font-family: "Baskerville-italic";
}

@font-face {
  font-family: "Baskerville";
  src: url("/fonts/libre-baskerville/LibreBaskerville-Regular.otf");
}

@font-face {
  font-family: "Baskerville-italic";
  src: url("/fonts/libre-baskerville/LibreBaskerville-Italic.otf");
}
