.page-header {
  background-color: #6ca6ca;
  height: 46px;
  font-size: 16px;
  color: #eee;
  position: relative;
}

.page-header input, .page-header button {
  vertical-align: middle;
  position: relative;
  height: 30px;
  border: none;
  top: -1px;
  /* this is a fix of weird movement of the element */
}

.page-header form {
  display: inline-block;
}

.main-navigation > ul {
  display: inline-block;
}

.main-navigation > * > * {
  display: inline-block;
}

.main-navigation > * > * > a {
  /* display page header links stretched over the whole header */
  display: inline-block;
  padding: 15px;
}

.main-navigation > * > * > a:hover {
  background-color: #ca906c;
  /*counted by removing a little from each color */
}

.people-menu {
  float: right;
}

.people-menu:after {
  clear: right;
}

/* BEGIN styling logo */
.home-logo {
  position: relative;
  top: -1px;
  /* a fix of misplacement*/
}

.home-logo img {
  height: 36px;
  vertical-align: middle;
  margin: 5px;
}

.home-logo > a {
  padding: 0 5px 0 0 !important;
}

/* END styling logo */
/* fix font awesome misplacement */
.fa {
  line-height: 0;
}

/* BEGIN hide-show submenu */
.header-menu > li {
  display: inline-block;
  position: relative;
}

.header-menu * {
  z-index: 10;
}

.header-submenu {
  display: none;
  position: absolute;
  left: 0;
  min-width: 100%;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 3px #ccc;
  -moz-box-shadow: 0px 0px 5px 3px #ccc;
  box-shadow: 0px 0px 5px 3px #ccc;
}

.header-submenu a {
  display: inline-block;
  padding: 5px;
  width: 100%;
  white-space: nowrap;
}

.header-submenu a:hover {
  background-color: #ddd;
}

.header-menu > li:hover .header-submenu {
  display: block;
}

/* make a horizontal separator between dit and connect menu */
.connect-menu {
  border-left: 1px dotted #eee;
}

/* align the last expanded items to the right */
.people-menu:last-child .header-submenu {
  right: 0;
  left: unset;
}

/* END */
/* BEGIN user header avatar */
.header-avatar > a {
  padding: 0 15px;
}

.header-avatar img {
  border-radius: 15px;
  height: 30px;
  vertical-align: middle;
}

.header-avatar span {
  padding: 15px 5px 15px 5px;
  display: inline-block;
}

/* END */
/* this shows the expand triangle */
.expand::after {
  content: "\f0d7";
  font-family: FontAwesome;
  line-height: 0;
  padding-left: 1px;
}
