.icon-user:before {
  content: "\f007";
  font-family: FontAwesome;
  line-height: 0;
}

.icon-user:not(:empty):before {
  padding-right: 0.1em;
}

.icon-edit:before {
  content: "\f040";
  font-family: FontAwesome;
  line-height: 0;
}

.icon-edit:not(:empty):before {
  padding-right: 0.1em;
}

.icon-project:before {
  content: "\f1b3";
  font-family: FontAwesome;
  line-height: 0;
}

.icon-project:not(:empty):before {
  padding-right: 0.1em;
}

.icon-challenge:before {
  content: "\f12e";
  font-family: FontAwesome;
  line-height: 0;
}

.icon-challenge:not(:empty):before {
  padding-right: 0.1em;
}

.icon-discussion:before {
  content: "\f086";
  font-family: FontAwesome;
  line-height: 0;
}

.icon-discussion:not(:empty):before {
  padding-right: 0.1em;
}

.icon-idea:before {
  content: "\f0eb";
  font-family: FontAwesome;
  line-height: 0;
}

.icon-idea:not(:empty):before {
  padding-right: 0.1em;
}

.icon-log-out:before {
  content: "\f08b";
  font-family: FontAwesome;
  line-height: 0;
}

.icon-log-out:not(:empty):before {
  padding-right: 0.1em;
}

.icon-log-in:before {
  content: "\f090";
  font-family: FontAwesome;
  line-height: 0;
}

.icon-log-in:not(:empty):before {
  padding-right: 0.1em;
}

.icon-tag:before {
  content: "\f02b";
  font-family: FontAwesome;
  line-height: 0;
}

.icon-tag:not(:empty):before {
  padding-right: 0.1em;
}

.icon-settings:before {
  content: "\f013";
  font-family: FontAwesome;
  line-height: 0;
}

.icon-settings:not(:empty):before {
  padding-right: 0.1em;
}

.icon-close:before {
  content: "\f00d";
  font-family: FontAwesome;
  line-height: 0;
}

.icon-close:not(:empty):before {
  padding-right: 0.1em;
}

body {
  font-family: Lato;
  box-sizing: border-box;
}

body {
  color: #011149;
  background-color: #eee;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/Lato2OFLWeb/Lato/fonts/Lato-Light.ttf");
}

.button {
  padding-top: 15px !important;
  padding-right: 20px !important;
  padding-bottom: 15px !important;
  padding-left: 20px !important;
  margin: 0px;
  display: inline-block !important;
  background-color: #011149;
  color: #eee;
  text-decoration: none;
  font-size: 1.1em !important;
  border: none;
  cursor: pointer;
}

.inline {
  display: inline;
}

.tag {
  display: inline-block;
  background-color: #011149;
  border: 1px solid #011149;
  color: #eee;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.tag.unsaved {
  display: inline-block;
  border: 1px solid #011149;
  background-color: #eee;
  color: #011149;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
