.non-list {
  margin-left: 20px;
  /* fix the parts which are out of list */
  margin-right: 20px;
}

.tag-list {
  display: inline-block;
  width: 360px;
  margin: 20px;
  padding: 10px;
  border: 10px solid #6ca6ca;
  vertical-align: top;
}

.tag-list ul:empty:after {
  content: "no tags found";
  color: red;
}

.tag-list {
  padding-top: 5px;
}

.tag-list .info-detail {
  float: right;
}

.page {
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
}

.page h1 {
  font-size: 25px;
  /*margin-left: $list-margin;*/
  /*padding:0;*/
}

.page h2 {
  font-size: 20px;
}

.page a:not(.button) {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

.tags-header h1 {
  float: left;
}

.tags-header nav {
  float: right;
}

.tags-header:after {
  content: "";
  clear: both;
  display: block;
}
