    <li class="tag-tag dit-list-item">
      <span class="dit-list-item-main">
        <a href="/tag/<%= relatedTag.tagname %>/tags">
          <span class="dit-list-item-name tag-dit-name icon-tag" ><%= relatedTag.tagname %></span>
        </a>
      </span>
    </li>
