<span class="avatar" ><a href="/user/<%= avatar.username %>" ><!--
  --><span class="span-image avatar-image" style="background-image:url('/user/<%= avatar.username %>/avatar')" ></span><span class="avatar-username" >@<%= avatar.username %></span></a></span>
