<span class="dit-avatar" ><a href="/<%= avatar.dittype || 'dit' %>/<%= avatar.url %>" ><!--
  --><!--span class="span-image dit-avatar-image" style="background-image:url('/dit/<%= avatar.url %>/logo')" ></span--><span class="dit-avatar-name" ><%= avatar.dittype || 'dit' + ': ' + avatar.url %></span></a></span>
