<% 


//showing a follow/unfollow form

hideFollow = hideFollow || {};

hideFollow.view = hideFollow.view || false; //should we show the view?
hideFollow.following = hideFollow.following || false; //is following?

if(hideFollow.view === true) {
  if(hideFollow.following === true) {
  //showing an unfollow form
  %>
    <form id="unfollow-form" class="unfollow-button" method="post">
      <input type="submit" name="action" value="unfollow" />
    </form>
    
  <%} else {
  //showing a follow form %>
    <form id="follow-form" class="follow-button" method="post">
      <input type="submit" name="action" value="follow" />
    </form>
<%
  }
}%>

