<style>
  #in-wrapper {
    margin: 0px auto;
    padding-top: 40px;
    position:relative;
    width: 300px;
  }

  input, input[type=submit]{
    width: 100%;
    position:relative;
    padding: 5px;
    margin:0px;
    border:2px solid #011149;
    background: none;
    margin-bottom:10px;
    margin-top:2px;
  }

  input[type=submit] {
    margin-top:20px;
    color: #eeeeee;
    background-color: #011149;
    cursor:pointer;
  }

  a, a:active {
    color: #0194fe;
    text-decoration: none;
  }

  a:hover {
    color: #eeeeee;
    background-color: #011149;
  }
</style>

  <div id="in-wrapper">
    <form method="post" id="login-form" action="<%= action %>" >
      <label>username<input type="text" name="username" placeholder="username" /></label>
      <label>password<input type="password" name="password" placeholder="password" /></label>
      <input type="submit" name="login" value="log in" />
    </form>
    <a href="/account/reset-password">forgotten login details?</a>
  </div>
