<%
  tags = tags || {}; //general data object
  tags.add = tags.add || false; //should add form be shown?
  tags.remove = tags.remove || false; //should cross for removing tags be shown?
  tags.collection = tags.collection || 'dit'; //name of the collection in singular (i.e. challenge, idea, discussion, user, project)
  tags.list = tags.list || []; //list of tags ({name, description})
  tags.vote = tags.vote || false; //is it possible to vote for tags?
%>

<div id="<%= tags.collection %>-tags"><%
  if(tags.list.length === 0) {
    %>no tags<%
  }
  for(var i=0, len=tags.list.length; i < len; ++i){
   %><span><%= tags.list[i].name %></span><%
  }
  if(tags.add === true){
    %>
    <form id="add-tag-form" method="post" >
      <input type="text" name="tagname" />
      <input type="submit" name="submit" value="add tag" />
    </form>
    <% 
  }

%></div>
