<%
  tags = tags || {}; //general data object
  tags.add = tags.add || false; //should add form be shown?
  tags.remove = tags.remove || false; //should cross for removing tags be shown?
  tags.collection = tags.collection || 'dit'; //name of the collection in singular (i.e. challenge, idea, discussion, user, project)
  tags.list = tags.list || []; //list of tags ({name, description})
  tags.vote = tags.vote || false; //is it possible to vote for tags?
%>
<ul>
<%
  for(let tag of tags.list){
  %><li class="tag">
      <a href="/tag/<%= tag.name %>"><%= tag.name %></a>
      <% if(tags.remove === true) {%>
      <form method="post" class="remove-tag-form">
        <input type="hidden" name="tagname" value="<%= tag.name %>" />
        <input type="hidden" name="action" value="remove tag" />
        <button type="submit"><span class="fa fa-times"></span></button>
      </form>
      <% } %>
    </li>
  <%
    }
  %>
</ul>
<!--a class="more" href="/project/id/name/tags">more</a--><%
  if(tags.add === true){
    %>
    <form id="add-tag-form" class="add-tag-form" method="post" >
      <input type="text" name="tagname" />
      <input type="submit" name="action" value="add tag" />
      <a href="<%= selfLink %>">cancel</a>
    </form>
    <% 
  }

%>
