<section class="about-page">
  <div class="about-line"><span class="icon-discussion about-icon"></span> <span class="about-emphasize">discuss</span> what interests you</div>
  <div class="about-line"><span class="icon-idea about-icon"></span> share and develop <span class="about-emphasize">ideas</span></div>
  <div class="about-line"><span class="icon-challenge about-icon"></span> identify <span class="about-emphasize">challenges</span></div>
  <div class="about-line"><span class="icon-project about-icon"></span> start or join <span class="about-emphasize">projects</span></div>
    <div class="about-line"><span class="fa fa-users about-icon"></span> connect with <span class="about-emphasize">people</span></div>
    <div class="about-line"><span class="icon-tag about-icon"></span> search with <span class="about-emphasize">tags</span></div>
  <hr />
  <div class="about-line">mess</div>
  <div class="about-line">play</div>
  <div class="about-line">learn</div>
  <div class="about-line">hack</div>
  <div class="about-line">share</div>
  <div class="about-line">destroy</div>
  <div class="about-line">create</div>
  <div class="about-line">experiment</div>
  <div class="about-line"><span class="about-emphasize">do it together</span></div>
  <div class="about-line"><span class="about-emphasize">start it up</span></div>
  <hr />
  <div class="about-line">have fun</div>
  <div class="about-line">create alternatives</div>
  <div class="about-line">quit the corporations</div>
  <div class="about-line">question the status quo</div>
  <div class="about-line">free yourself from the modern slavery</div>
  <div class="about-line">collaborate with likeminded people</div>
  <div class="about-line">learn better without universities</div>
  <div class="about-line">embrace your freedom</div>
  <div class="about-line">be independent</div>
  <div class="about-line">do what you love</div>
  <div class="about-line"><span class="about-emphasize">do it</span></div>
  <div class="about-line">make a better world</div>
  <div class="about-line"></div>

</section>
